asgiref==3.11.0
Django==5.2.9
djangorestframework==3.16.1
python-dotenv==1.2.1
sqlparse==0.5.4
tzdata==2025.2
Django==5.2.9
gunicorn
psycopg[binary]
pandas==2.2.3
numpy==2.2.1     




